body{
	background-image: url("background.png");
}
#frame{
    background-color: rgba(240, 240, 240, 0.95);
}
#logo{
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;  
}
#title{
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;    
}
#title h1{
    text-align: right;
    font-size: 50px;
}
#level {
    margin-left: 10px;
    margin-right: 10px;
}
#players {
    margin-left: 10px;
}
#treasure {
    margin-left: 10px;
    margin-right: 10px;
}
.encounter{
    background-color: #ccc;
    padding: 20px;
    display: flex;
}
.encounter div{
    width: 100%;
    padding-right: 20px;
}
.genButton{
    float: right;
    max-height: 40px;
}