body{
	background-image: url("background.png");
}
#frame{
    background-color: rgba(240, 240, 240, 0.95);
}
#logo{
    height: 70px;
    margin-bottom: 20px;
    margin-top: 20px;  
}
#title{
    height 70px;
    margin-bottom: 20px;
    margin-top: 20px;    
}
#title h1{
    text-align: right;
    font-size: 50px;
}
.tileset{
    padding-left: 0px;
}
.tile{
    float: left;
    height: 150px;
    line-height: 130px;
    list-style: none;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.tile a{
    display: block;
    text-decoration: none;
    height: 150px;
    padding: 10px;
    color: black;
}
.tile a:hover{
    text-decoration: none;
    color: black;
}
.tile label:checked{
    background-color: white;
}